@import url(../js/bower_components/font-awesome/css/font-awesome.css);
body {
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

#header {
  background: url("../img/logo-300x138.png") 50px center no-repeat;
  background-size: contain;
  margin: 0;
  position: fixed;
  height: 118px;
  width: 100%;
  z-index: 9;
  color: #f2f2f2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
}
#header li a {
  font-size: 13px;
  padding: 0 13px;
  text-decoration: none;
  color: #ffffff;
}
#header li a:hover {
  color: #defffc;
}
#header li:last-of-type {
  padding-right: 50px;
}

#header {
  top: 0;
}

#goTop {
  position: fixed;
  bottom: -20px;
  right: 50px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #eeeeee;
  opacity: 0;
  border: 1px solid #444444;
  border-radius: 2px;
  background-color: #333333;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}
#goTop:hover {
  background-color: #fcfcfc;
  color: #4ecac2;
  border: 1px solid #e1e1e1;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.goNext {
  display: block;
  position: absolute;
  width: 80px;
  height: 60px;
  margin: 0 0 0 -40px;
  line-height: 60px;
  left: 50%;
  bottom: 0;
  color: #FFF;
  text-align: center;
  font-size: 60px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}
.first-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(78, 202, 194, 0.6);
  padding: 120px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-container .slogan-container {
  display: flex;
  max-height: 170px;
  min-height: 170px;
  width: 100%;
  justify-content: space-between;
}
.first-container .slogan-container .slogan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 63px;
  line-height: 1.1em;
  max-height: 170px;
  min-height: 170px;
}
.first-container .slogan-container .slogan .main-title {
  color: #ffffff;
}
.first-container .slogan-container .slogan .sub-title {
  color: #315E5B;
  font-weight: lighter;
}
.first-container .slogan-container .play-video {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  border: 3px solid #ffffff;
  border-radius: 1000px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.first-container .slogan-container .play-video:after {
  content: '';
  border-left: 12px solid #ffffff;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
.first-container .slogan-container .play-video:before {
  position: absolute;
  content: '';
  min-width: 100px;
  min-height: 100px;
  border: 3px solid #ffffff;
  border-radius: 1000px;
}
.first-container .slogan-container .play-video:hover:before {
  position: absolute;
  content: '';
  min-width: 100px;
  min-height: 100px;
  border: 3px solid #ffffff;
  border-radius: 1000px;
  animation: border_expand 2.4s ease-in-out infinite;
}

@keyframes border_expand {
  0% {
    transform: scale(1.6);
    opacity: 0;
  }
  95% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
  }
}
.down-arrow-ani:after {
  content: '>';
  display: none;
}

.second-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 120px 0;
}
.second-container .what-we-focus {
  max-width: 50%;
  text-align: center;
  align-self: center;
  font-size: 40px;
  line-height: 1.1em;
}
.second-container .solution-wrapper {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
.second-container .solution-wrapper .meshcell, .second-container .solution-wrapper .trackcell, .second-container .solution-wrapper .other-solution {
  width: 25%;
  margin-left: 5%;
}
.second-container .solution-wrapper .meshcell .secpage-subtitle, .second-container .solution-wrapper .trackcell .secpage-subtitle, .second-container .solution-wrapper .other-solution .secpage-subtitle {
  font-size: 20px;
  line-height: 1.1em;
}
.second-container .solution-wrapper .meshcell .secpage-content, .second-container .solution-wrapper .trackcell .secpage-content, .second-container .solution-wrapper .other-solution .secpage-content {
  font-size: 15px;
  color: #9d9d9d;
  line-height: 1.65em;
  word-break: break-all;
}
.second-container .solution-wrapper .meshcell {
  margin-left: 0;
}

.third-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/index-third-bg.jpg");
  background-size: cover, cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.third-container .why-ceilcell {
  width: 50%;
}
.third-container .why-ceilcell .third-title {
  font-size: 34px;
  line-height: 1.1em;
}
.third-container .why-ceilcell .third-content {
  font-size: 15px;
  color: #4ecac2;
  line-height: 1.65em;
}

.fourth-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
}
.fourth-container .sub-title {
  font-size: 40px;
  line-height: 1.1em;
  width: 52%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.fourth-container .sub-title .subscribe {
  flex-grow: 1;
  width: 60%;
  display: flex;
  align-items: center;
}
.fourth-container .sub-title .subscribe div {
  height: 46px;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.fourth-container .sub-title .subscribe input[type='text'] {
  font-size: 1em;
  width: 71%;
  min-width: 50px;
  padding: 13px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
}
.fourth-container .sub-title .subscribe .submit {
  cursor: pointer;
  border-radius: 2px;
  margin-left: 2px;
  font-size: 0.92em;
  display: block;
  width: 28%;
  color: #ffffff;
  background-color: #4ecac2;
  transition: background-color 0.4s;
}
.fourth-container .sub-title .subscribe .submit:hover {
  background-color: #2ca8a0;
  transition: background-color 0.4s;
}
.fourth-container footer {
  width: 100%;
  background-color: #222222;
}
.fourth-container footer .row {
  display: flex;
}
.fourth-container footer .row .column {
  width: 20.5%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding-left: 6%;
}
.fourth-container footer .contact {
  padding: 50px;
}
.fourth-container footer .subtitle {
  color: #555555;
  font-size: 16.5px;
  line-height: 1.1em;
  margin-bottom: 1em;
}
.fourth-container footer .subcontent {
  color: #dddddd;
  font-size: 15px;
  line-height: 1.65em;
}
.fourth-container footer .copyright {
  background-color: #333333;
  color: #dddddd;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
