@charset "UTF-8";
@import "base";
@import "../js/bower_components/font-awesome/css/font-awesome.css";

@mixin container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin cover {
  background-color: $bg-c-main;
}

body {
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

#header {
  background: url("../img/logo-300x138.png") 50px center no-repeat;
  background-size: contain;
  margin: 0;
  position: fixed;
  height: 118px;
  width: 100%;
  z-index: 9;
  color: #f2f2f2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  li {
    a {
      //actived:#ffffff not actived:#defffc
      font-size: 13px;
      padding: 0 13px;
      text-decoration: none;
      color: #ffffff;

      &:hover {
        color: #defffc;
      }
    }
    &:last-of-type {
      padding-right: 50px;
    }
  }
}

#header {
  top: 0;
}

#goTop {
  position: fixed;
  bottom: -20px;
  right: 50px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #eeeeee;
  opacity: 0;
  border: 1px solid #444444;
  border-radius: 2px;
  background-color: #333333;
  transition: background-color 0.4s,
  color 0.4s,
  border 0.4s;
  &:hover {
    background-color: #fcfcfc;
    color: #4ecac2;
    border: 1px solid #e1e1e1;
    transition: background-color 0.4s,
    color 0.4s,
    border 0.4s;
  }
}

.goNext {
  display: block;
  position: absolute;
  width: 80px;
  height: 60px;

  margin: 0 0 0 -40px;
  line-height: 60px;
  left: 50%;
  bottom: 0;
  color: #FFF;
  text-align: center;
  font-size: 60px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

.first-container {

  @include container;
  @include cover;
  padding: 120px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .slogan-container {
    display: flex;
    max-height: 170px;
    min-height: 170px;
    width: 100%;
    justify-content: space-between;

    .slogan {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      font-size: 63px;
      line-height: 1.1em;
      max-height: 170px;
      min-height: 170px;
      .main-title {
        color: $text-c-slogan1;
      }

      .sub-title {
        color: $text-c-slogan2;
        font-weight: lighter;
      }

    }

    .play-video {
      position: relative;
      min-width: 100px;
      min-height: 100px;
      border: 3px solid #ffffff;
      border-radius: 1000px;
      align-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:after {
        content: '';
        border-left: 12px solid #ffffff;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
      }

      &:before{
        position: absolute;
        content: '';
        min-width: 100px;
        min-height: 100px;
        border:3px solid #ffffff;
        border-radius:1000px;
      }
      &:hover:before{
        position: absolute;
        content: '';
        min-width: 100px;
        min-height: 100px;
        border:3px solid #ffffff;
        border-radius:1000px;
        animation: border_expand 2.4s ease-in-out infinite;
      }


    }

  }
}
@keyframes border_expand {
  0%   { transform:scale(1.6); opacity: 0;  }
  95% { transform:scale(1); opacity: 0.5; }
  100% { transform:scale(0.95); opacity: 0; }
}

//向下的小箭头
//TODO:动画,rotate,opacity

.down-arrow-ani:after {
  content: '>';
  display: none;
}

//**************************
//      section TWO~
//**************************

.second-container {
  @include container;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 120px 0;

  .what-we-focus {
    max-width: 50%;
    text-align: center;
    align-self: center;
    font-size: $fz-secpage-title;;
    line-height: 1.1em;
  }

  .solution-wrapper {
    display: flex;
    justify-content: center;
    align-content: flex-end;

    .meshcell, .trackcell, .other-solution {
      //TODO:用继承重写.
      width: 25%;
      margin-left: 5%;

      .secpage-subtitle {
        font-size: $fz-secpage-subtitle;
        line-height: 1.1em;

      }
      .secpage-content {
        font-size: $fz-secpage-content;
        color: $text-c-secpage-detail;
        line-height: 1.65em;
        word-break: break-all;
      }
    }
    .meshcell {
      margin-left: 0;
    }
  }
}

.third-container {
  @include container;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/index-third-bg.jpg");
  background-size: cover, cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .why-ceilcell {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //align-items:flex-start;
    width: 50%;

    .third-title {
      font-size: $fz-third-title;
      line-height: 1.1em;
    }
    .third-content {
      font-size: $fz-thrid-content;
      color: $color-main;
      line-height: 1.65em;
    }
  }

}

.fourth-container {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top:90px;

  .sub-title {
    font-size: $fz-fourth-title;
    line-height: 1.1em;
    width: 52%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;

    .subscribe {
      flex-grow:1;
      width: 60%;
      display: flex;
      align-items: center;

      div{
        height: 46px;
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      input[type='text'] {
        font-size: 1em;
        width: 71%;
        min-width: 50px;
        padding: 13px;
        border: 1px solid #e1e1e1;
        border-radius: 2px;
      }
      .submit {
        cursor: pointer;
        border-radius: 2px;
        margin-left: 2px;
        font-size: 0.92em;
        display: block;
        width: 28%;
        color: #ffffff;
        background-color: $color-main;
        transition: background-color 0.4s;

        &:hover {
          background-color: #2ca8a0;
          transition: background-color 0.4s;
        }
      }
    }
  }
  
  
  footer{
    width: 100%;
    background-color: $bg-footer;
    .row{
      display: flex;
      .column{
        width: 20.5%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        padding-left:6%;
      }
    }

    .contact{
      padding: 50px;
    }
    
    .subtitle{
      color: $text-c-footer-title;
      font-size: 16.5px;
      line-height: 1.1em;
      margin-bottom:1em;
    }
    .subcontent{
      color: $text-c-footer-content;
      font-size: 15px;
      line-height: 1.65em;
    }
    .copyright{
      background-color: $bg-copyright;
      color: $text-c-footer-content;
      font-size: 12px;
      height: 24px;
      line-height: 24px;
      justify-content: center;
    }
  }
}


